@import 'color';

article {
  position: relative;
  padding: 6rem 0;

  a {
    color: $themeRed;
  }

  &:not(:first-child):before {
    content: '';
    width: 240px;
    height: 1px;
    background-color: $divider;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -120px;
  }

  blockquote {
    margin: 4rem 2rem;
    padding-left: 12px;
    line-height: 2rem;
    border-left: 4px solid $themeRed;
  }

  .article-title {
    position: relative;
    color: $textTitle;
    font-size: 2.4rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0 2rem;

    a {
      display: block;
      color: $textTitle;

      span {
        padding-bottom: 6px;
        -webkit-transition: box-shadow 0.15s;
        transition: box-shadow 0.15s;
        box-shadow: inset 0 -2px 0 rgba(170, 44, 32, 0);
      }

      &:hover {
        color: $textTitleHover;

        span {
          box-shadow: inset 0 -2px 0 rgba(170, 44, 32, 0.6);
        }
      }
    }
  }

  .article-top-meta {
    position: relative;
    color: $textTime;
    font-size: 1.4rem;
    text-align: center;
    margin: 1rem 0;

    span {
      margin: 0 0.5rem;
    }

    a {
      color: $textTime;

      &:hover {
        color: $textTimeHover;
      }

      time {
        font-style: italic;
      }
    }
  }

  .article-excerpt, .article-content, .featured-media {
    margin: 4rem 0;
    font-size: 1.6rem;
    color: $text;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 1rem auto;
    }
  }

  .article-more-link {
    position: relative;
    text-align: center;
    font-size: 1.6rem;
    font-style: italic;

    a {
      display: inline-block;
      color: $textTime;

      &:hover {
        color: $textTimeHover;
      }
    }
  }

  .article-footer {
    .pull-left {
      float: left;
    }

    .pull-right {
      float: right;
    }

    &:after {
      content: ' ';
      display: block;
      clear: both;
    }

    .article-meta > span:not(:last-child) {
      margin-right: 3rem;
    }

    .article-meta > span {
      display: inline-block;
    }

    .article-meta > span > span {
      line-height: 1;
      vertical-align: middle;
    }

    .article-meta {
      font-size: 1.4rem;
      color: $textTime;

      a {
        color: $textTime;

        &:hover {
          color: $textTimeHover;
        }
      }

      i {
        vertical-align: middle;
        color: $textTime;
        margin-right: 0.5rem;
      }
    }

    .post-tags {
      a {
        &:before {
          content: '#';
        }

        &:not(:last-of-type):after {
          content: ', ';
          padding-right: 5px;
        }
      }
    }
  }

  code {
    padding: 2px 4px;
    color: $themeRed;
    white-space: normal;
    border-radius: 0;
  }

  p {
    margin: 2rem 0;
    line-height: 1.8;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  table {
    max-width: 100%;
    width: 100%;

    caption {
      padding: 6px;
      color: $textTime;
      background-color: $bg;
    }

    th, td {
      text-align: left;
      padding: 0.6em;
      vertical-align: top;
    }

    th {
      vertical-align: bottom;
      border-bottom: 1px solid $divider;
    }

    tbody + tbody {
      border-top: 2px solid $divider;
    }

    .table {
      background-color: $bgContent;
    }

    .table-bordered {
      border: 1px solid $divider;
    }

    .table-striped tbody tr:nth-of-type(odd) {
      background-color: $bgContent;
    }

    pre {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}
