@import 'color';

article {
  .categories-cloud {
    width :80%;
    margin: 2rem auto 8rem;
    line-height: 2.4rem;
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    i {
      margin-left: 1rem;
    }

    a {
      color: $themeRed;
      text-align: center;
      margin-right: 1rem;

      &:hover {
        color: $textTime;
      }
    }

    .post-categories {
      text-align: center;
      flex:1 1 auto;
    }
  }

  .archive {
    display: block;

    .archive-categories {
      color: $textTime;
      text-align: center;
      position: relative;
      padding: 4rem 0 0 0;

      &:not(:first-child):before {
        content: '';
        width: 360px;
        height: 1px;
        background-color: $divider;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -180px;
      }

      i {
        margin-right: 0.4rem;
      }

      .post-categories {

        a {
          color: $themeRed;
          font-size: 2rem;

          &:hover {
            color: $textTime;
          }
        }
      }
    }
  }
}
