$themeRed = #aa2c20;
$text = #1a1a1a;
$textTitle = #181818;
$textTitleHover = #363636;
$textTime = #909090;
$textTimeHover = $themeRed;
$textBrand = #ffffff;
$divider = #d8d8d8;
$bgContent = #ffffff;
$bg = #f1f1f1;