@import 'color'
footer.site-footer {
  position: relative;
  text-align: center;
  line-height: 1.8;
  padding-top: 1rem;
  color: $textTime;

  a {
    color: $themeRed;
  }

  .site-info {
    color: $textTime;
    font-size: 1.2rem;
    margin: 0.6rem 0;
  }
}
